version: '3.8'

services:
  db:
    image: postgres:15
    container_name: tournament_db
    environment:
      - POSTGRES_DB=tournament_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
